input.numeric_password {
	text-align: center;
	width: 300px;
	height: 40px;
	background-image: -webkit-linear-gradient(top, #2d3f5d 0%, #3f5574 100%);
	color: #ffffff;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
	font-size: 30px;	
	border: 1px solid #2d4969;
	border-radius: 5px;
	margin-bottom: 10px;
}

div.numeric_password_container {
	position: relative;
	width: 300px;
	height: 300px;
}

div.numeric_password_container div.numeric_password_number {
	width: 98px;
	height: 73px;
	line-height: 75px;
	float: left;
	font-size: 30px;
	font-family: Tahoma, Arial, sans-serif;
	color: #7f8798;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .75);
	text-align: center;
	border: 1px solid #dbdcdd;
	background-image: -webkit-linear-gradient(top, #E4E4E4 0%, #CFD1D3 100%);
}

div.numeric_password_container div.numeric_password_number:hover {
	color: #eef0f2;
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, #a1c5e3 0%, #95a4b2 100%);
}

div#numeric_password_1 {
	border-top-left-radius: 15px;
}

div#numeric_password_3 {
	border-top-right-radius: 15px;
}

div#numeric_password_0 {
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom-left-radius: 15px;
}

div#numeric_password_backspace {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 198px;
	border-bottom-right-radius: 15px;
}
